# APEX PRODUCTION ENVIRONMENT CONFIGURATION (SYNTHETIC HONEYPOT DECOY)
# DO NOT USE IN PRODUCTION - DECEPTION ASSET ONLY
NODE_ENV=production
PORT=8080

# DATABASE CONNECTIONS (MOCK HONEYTOKENS)
DATABASE_URL=postgres://app_prod_master:mock_deception_password_2026@10.0.4.12:5432/core_production
REDIS_URL=redis://:mock_redis_auth_pass_9918@10.0.4.15:6379/0

# API KEYS & SECRETS (MOCK HONEYTOKENS - SAFE FOR REPOSITORIES)
JWT_SECRET_KEY=MOCK_HONEYNET_CANARY_JWT_SECRET_KEY_NOT_REAL_FOR_TESTING_PURPOSES
STRIPE_SECRET_KEY=sk_test_mock_honeynet_canary_stripe_key_apex_prod_bait
SENDGRID_API_KEY=SG_MOCK_HONEYNET_CANARY_SENDGRID_KEY_NOT_REAL
VAULT_TOKEN=s_mock_honeynet_canary_vault_token_apex_internal

# AWS CREDENTIALS (MOCK HONEYTOKENS)
AWS_ACCESS_KEY_ID=AKIA_MOCK_HONEYNET_CANARY_ACCESS_KEY_01
AWS_SECRET_ACCESS_KEY=mock_secret_access_key_honeynet_canary_bait_apex_prod
AWS_DEFAULT_REGION=us-east-1
S3_BACKUP_BUCKET=apex-prod-backups-2026-vault
